exportPattern("^[[:alpha:]]+")
importFrom("stats", "optimize", "uniroot")
importFrom("graphics", "abline", "legend", "points")

S3method(print, MiniMaxApprox)
S3method(plot, MiniMaxApprox)
S3method(coef, MiniMaxApprox)
export(print.MiniMaxApprox)
export(plot.MiniMaxApprox)
export(coef.MiniMaxApprox)
