exportPattern("^[[:alpha:]]+")
importFrom("stats", "optimize", "uniroot")
importFrom("graphics", "abline", "legend", "points")

S3method(print, RatApprox)
S3method(plot, RatApprox)
S3method(coef, RatApprox)
export(print.RatApprox)
export(plot.RatApprox)
export(coef.RatApprox)
